section {
  min-height: 53vh; /* minus the height of the footer */
  text-align: center;
}

.title {
  margin-top: 60px;
  align-content: left;
  word-wrap: none;
}

#home {
  background-color: white;
}

#client-img {
  max-width: 100%;
  margin-top: -40px;
}

#name {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: -2px;
}

#name-span {
  color: #a29e9b;
  font-weight: bold;
  font-size: 19px;
}

.title-span {
  color: black;
  font-weight: bold;
}

#home-header {
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.64px;
}
#title-header {
  font-size: 18px;
}
#get-started {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  color: #a29e9b;
}

#get-started-btn {
  display: flex;
  justify-content: center;
}

.custom-btn {
  background-color: #cec7c1;
}

.custom-btn:hover {
  background-color: white;
  color: black;
}
