.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.7vw;
  padding: 5px;
  position: absolute;
  right: 5%;
  bottom: 0rem;
  left: 5%;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  color: #fff;
  text-align: center;
}

.d-block {
  height: 100%;
}
.carousel-control-prev-icon {
  visibility: hidden;
}

.carousel-control-next-icon {
  visibility: hidden;
}

.sr-only {
  visibility: hidden;
}
