* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  padding-top: 100px;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
.App {
  font-family: "Roboto", sans-serif;
}

.background-color {
  background-color: #f9f5f2;
}
