.services-table {
  margin: 40px 0 70px 0;
  text-align: center;
  padding: 15px 0 5px 0;
  color: black;
  background-color: white;
}

.icon-border {
  margin: 5px;
}

.description-border {
  margin: 5px;
}
